include ../mixins/flash-messages
include ../mixins/media/lightswitch

doctype html
html
    head
        //- Initial HTML configuration
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        //- Link meta-data
        title #{global.meta.description}
        meta(name="description" content=global.meta.description)
        //- Define the viewport
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
        meta(name="apple-mobile-web-app-title" content=global.meta.title)
        //- Fullscreen Safari on startup from home screen on Apple and Android devices
        //- meta(name="apple-mobile-web-app-capable" content="yes")
        //- meta(name="mobile-web-app-capable" content="yes")
        //- Link browser favicon
        link(rel="icon" type="image/png" href=global.favicon.url)
        //- Link home screen app icon on Apple devices
        link(rel="apple-touch-icon" href=global.icon.url)
        //- Link startup image on Apple devices
        link(rel="apple-touch-startup-image" href=global.startupImg.url)
        //- Link Sassafras project styles
        link(rel="stylesheet" type="text/css" href="/css/jacobsfletch.min.css")
        if user && user.canAccessKeystone
            link(href="/keystone/styles/content/editor.min.css" rel="stylesheet")
        block css
        block head
    body
        block intro
        input#filter(type='checkbox')
        .app-main
            header.app-header
                a.app-title(href='/')
                    h1 jacobsfletch
                .tool-lightswitch
                    .tool-media
                        +lightSwitch()
            .app-body
                block appBody
            footer.app-footer
                .container-dock
                    .container-body
                        nav.menu-vertical
                            ul.menu-body
                                each link in navLinks
                                    li.menu-body-part.btn-main(class=(section == link.key ? 'activated' : null))
                                        a.btn-title(target=link.target href=link.href)= link.label
                                            |  >
                        nav.menu-vertical
                            .menu-header
                                .menu-title
                                    h6 coming soon
                            ul.menu-body
                                li.menu-body-part.btn-main
                                    a.btn-title my blog
                                li.menu-body-part.btn-main
                                    a.btn-title my shop
        // script(src='/js/jacobsfletch.min.js')
        script.
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-72591985-3', 'auto');
            ga('send', 'pageview');
            
            ////////////////////////////////////////////////////////////////////////////

            // scrollController

            ////////////////////////////////////////////////////////////////////////////
            
            preventDefault = function(event) {
                event.preventDefault();
            }
            
            window.addEventListener('touchmove', preventDefault);
            window.addEventListener('wheel', preventDefault);
            
            var touchStart = 0;
                scrollDistance = 0;
            
            function touchStartHandler(event) {
                touchStart = event.touches[0].pageY;
            }
                            
            function scrollHandler(event) {
                scrollDistance = event.deltaY ? event.deltaY : event.touches ? (touchStart - event.touches[0].pageY) : null;
                touchStart = event.touches ? event.touches[0].pageY : null;
            }
            
            ////////////////////////////////////////////////////////////////////////////

            // scrollEnabler

            ////////////////////////////////////////////////////////////////////////////
            
            scrollEnabler = function(event, element) {
                var elementCurrentScroll = panelBody.scrollTop;
                    elementScrollHeight = element.scrollHeight;
                    elementClientHeight = element.clientHeight;
                    fullBodyScroll = elementScrollHeight - elementClientHeight;
                if (elementCurrentScroll <= fullBodyScroll && elementCurrentScroll >= 0) {
                    element.scrollTop = elementCurrentScroll + scrollDistance;
                }
            }
            
            ////////////////////////////////////////////////////////////////////////////

            // scrollAnimate

            ////////////////////////////////////////////////////////////////////////////

            scrollAnimate = function(screen) {
                
                var app = document.querySelector('.app-main');
                    screen = app.querySelector(screen);
                    start = screen.querySelector('.start');
                    explore = screen.querySelector('.explore');
                    panelBody = explore.querySelector('.panel-body');
                    barTitleSpan = explore.querySelector('.bar-title').querySelector('span');
                    barSubtitleSpan = explore.querySelector('.bar-subtitle').querySelector('span');
                    originalTitleSpan = barTitleSpan.innerHTML;
                    originalSubtitleSpan = barSubtitleSpan.innerHTML;
                    panelScroll = 0;
                    panelIsFullyScrolledUp = true;
                    currentRatio = 0;
                    panelCurrentScroll = 0;
                    checked = false;

                fetchVariables = function() {
                    var exploreBoundingTop = explore.getBoundingClientRect().top;
                        screenBoundingTop = screen.getBoundingClientRect().top;
                        exploreTop = Math.round(exploreBoundingTop - screenBoundingTop);
                        originalExploreTop = exploreTop;
                }
                
                window.addEventListener('resize', function(event) {
                    checked = false;
                    explore.removeAttribute('style');
                    start.removeAttribute('style');
                    panelBody.classList.remove('activated');
                    app.classList.remove('activated');
                    panelBody.scrollTop = 0 + 'px';
                    barTitleSpan.innerHTML = originalTitleSpan;
                    barSubtitleSpan.innerHTML = originalSubtitleSpan;
                    fetchVariables();
                });
                
                screen.addEventListener('wheel', function(event) {
                    scrollHandler(event);
                    scrollAnimation(event);
                });
                
                screen.addEventListener('touchmove', function(event) {
                    scrollHandler(event);
                    scrollAnimation(event);
                });
                
                screen.addEventListener('touchstart', touchStartHandler);
                
                function scrollAnimation(event) {
                    panelCurrentScroll = panelBody.scrollTop;
                    panelIsFullyScrolledUp = panelCurrentScroll == 0; 
                    if (panelIsFullyScrolledUp) {
                        expectedScroll = exploreTop + -scrollDistance;
                        exploreTop = (expectedScroll >= originalExploreTop) ? originalExploreTop : (expectedScroll <= 0) ? 0 : (exploreTop + -scrollDistance);
                        explore.style.top = exploreTop + 'px';
                        currentRatio = Math.round(100 * (exploreTop / originalExploreTop)) / 100;
                        start.style.opacity = currentRatio;
                    }
                                                        
                    if (exploreTop == 0) {
                        checked = true;
                        app.classList.add('activated');
                        panelBody.classList.add('activated');
                        barTitleSpan.innerHTML = 'overview';
                        barSubtitleSpan.innerHTML = 'down';
                        scrollEnabler(event, panelBody);
                    } else if (exploreTop == originalExploreTop) {
                        checked = false;
                        app.classList.remove('activated');
                        panelBody.classList.remove('activated');
                        barTitleSpan.innerHTML = originalTitleSpan;
                        barSubtitleSpan.innerHTML = originalSubtitleSpan;
                    }
                }
                
                fetchVariables();
                
            }
            
            ////////////////////////////////////////////////////////////////////////////

            // dockInit

            ////////////////////////////////////////////////////////////////////////////

            var app = document.querySelector('.app-main');
                lightSwitch = app.querySelector('.tool-lightswitch');
                appFooter = app.querySelector('.app-footer');
                appBody = app.querySelector('.app-body');
                
            lightSwitch.addEventListener('click', function() {
                app.classList.toggle('docked');
                appBody.classList.toggle('hidden');
                appFooter.classList.toggle('visible');
                lightSwitch.classList.toggle('switched');
            });
            
            ////////////////////////////////////////////////////////////////////////////

            // responsiveImages

            ////////////////////////////////////////////////////////////////////////////

            responsiveImages = function(cardName) { 
                var dppi = window.devicePixelRatio; 
                    cards = document.getElementsByClassName(cardName);
                    status = 'all';    
                    currentImg = null;
                    prevImgWidth = 0;
                    scrollContainer = document.querySelector('.panel-body');
                    scrollPosition = 0;

                finish = function(cardImg) {
                    setTimeout(function() {
                        cardImg.classList.remove('deactivated');
                    }, 1000)
                }

                loadImage = function(cardImg, otherCardImgs) {
                    var imgWidth = Math.ceil(parseInt(getComputedStyle(cardImg, null).getPropertyValue('width'), 10));
                    if (imgWidth != prevImgWidth) { // Skip the image transormation if it is the same size as the prior
                        var newWidth = imgWidth * dppi;
                        if (cardImg.dataset.src) {
                            var imgSrc = cardImg.dataset.src;
                            var srcParse = imgSrc.split('upload/');
                            for (var j = 0; j < srcParse.length; j++) {
                                var srcFirst = srcParse[0];
                                var srcLast = srcParse[1];
                                var srcType = srcLast.split('.')[1];
                                if(srcType === 'jpg') {
                                    var imgSrc = srcFirst + 'upload/w_' + newWidth + '/' + srcLast;
                                }
                                cardImg.src = imgSrc;
                            }
                        }
                    } else {
                        finish(cardImg);
                        for (var k = 0; k < otherCardImgs.length; k++) {
                            finish(otherCardImgs[k]);
                        }
                    }
                }

                hoverReplicate = function() {
                    for (var i = 0; i < cards.length; i++) {
                        var card = cards[i];
                        if(card.classList.contains('hover')) {
                            card.classList.toggle('hover');
                        }
                    }
                    this.classList.toggle('hover');
                }

                queryMedia = function(cardImg, otherCardImgs) {
                    if (status === 'all') {
                        for (var i = 0; i < cards.length; i++) {
                            var card = cards[i];
                            var cardImg = card.querySelector('img');
                            cardImg.classList.add('deactivated');
                            loadImage(cardImg, otherCardImgs);
                        }
                    } else if (status === 'single') {
                        cardImg.classList.add('deactivated');
                        loadImage(cardImg, otherCardImgs);
                    }
                }

                toggleMedia = function(card, cardImg, cardParent, otherCards, otherCardImgs) {
                    prevImgWidth = Math.ceil(parseInt(getComputedStyle(cardImg, null).getPropertyValue('width'), 10));
                    if (!cardParent.classList.contains('activated')) {
                        scrollPosition = scrollContainer.scrollTop;
                    }
                    for (var i = 0; i < otherCards.length; i++) {
                        otherCards[i].parentNode.classList.toggle('deactivated');
                        otherCards[i].classList.add('deactivated');
                    }
                    cardParent.classList.toggle('activated');
                    card.querySelector('.tool-shrink').classList.toggle('deactivated');
                    if (status === 'all') {
                        status = 'single';
                        currentImg = cardImg;
                    } else if (status === 'single') {
                        status = 'all';
                        currentImg = null;
                    }
                    for (var k = 0; k < otherCardImgs.length; k++) {
                        otherCardImgs[k].classList.add('deactivated');
                    }
                    if (!cardParent.classList.contains('activated')) {
                        scrollContainer.scrollTop = scrollPosition;
                    } else {
                        scrollContainer.scrollTop = 0;
                    }
                    queryMedia(cardImg, otherCardImgs);
                }

                for (var i = 0; i < cards.length; i++) {
                    (function() {
                        var card = cards[i];
                        var otherCards = [];
                        var otherCardImgs = [];
                        for (var j = 0; j < cards.length; j++) {
                            if (!cards[j].isSameNode(card)) {
                                otherCards.push(cards[j]);
                                var otherCardImg = cards[j].querySelector('img');
                                if (otherCardImg) {
                                    otherCardImgs.push(otherCardImg);
                                }
                            }
                        }
                        var cardImg = card.querySelector('img');
                        var cardParent = card.parentNode;
                        var toolExpand = card.querySelector('.tool-expand');
                        var toolShrink = card.querySelector('.tool-shrink');
                        var tools = [];
                        if (toolExpand && toolShrink) {
                            tools.push(toolExpand, toolShrink);
                        }
                        if (cardImg) {
                            cardImg.addEventListener('load', function() {
                                finish(cardImg);
                                for (var k = 0; k < otherCardImgs.length; k++) {
                                    finish(otherCardImgs[k]);
                                }
                            });
                        }
                        card.addEventListener('touchstart', hoverReplicate);
                        if (tools) {
                            for(var t = 0; t < tools.length; t++) {
                                var tool = tools[t];
                                tool.addEventListener('click', function() {
                                    toggleMedia(card, cardImg, cardParent, otherCards, otherCardImgs);
                                });
                            }
                        }
                    })();
                }

                window.addEventListener('resize', function() {
                    queryMedia(currentImg);
                });

                queryMedia(status);
            }

        block js
