include ../mixins/flash-messages
include ../mixins/media/lightswitch

doctype html
html
    head
        //- Initial HTML configuration
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        //- Link meta-data
        title #{global.meta.description}
        meta(name="description" content=global.meta.description)
        //- Define the viewport
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
        meta(name="apple-mobile-web-app-title" content=global.meta.title)
        //- Fullscreen Safari on startup from home screen on Apple and Android devices
        //- meta(name="apple-mobile-web-app-capable" content="yes")
        //- meta(name="mobile-web-app-capable" content="yes")
        //- Link browser favicon
        link(rel="icon" type="image/png" href=global.favicon.url)
        //- Link home screen app icon on Apple devices
        link(rel="apple-touch-icon" href=global.icon.url)
        //- Link startup image on Apple devices
        link(rel="apple-touch-startup-image" href=global.startupImg.url)
        //- Link Sassafras project styles
        link(rel="stylesheet" type="text/css" href="/css/jacobsfletch.min.css")
        if user && user.canAccessKeystone
            link(href="/keystone/styles/content/editor.min.css" rel="stylesheet")
        block css
        block head
    body
        block intro
        input#dock(type='checkbox')
        input#explore(type='checkbox')
        input#filter(type='checkbox')
        input#portfolio(type='checkbox')
        .app-main
            header.app-header
                .wrapper
                    a.app-title(href='/')
                        h1 jacobsfletch
                    label.tool-toggle(for='dock')
                        .tool-media
                            +lightSwitch()
            footer.app-footer
                .container-dock
                    .container-header
                        .container-title
                            p this website is 100% handmade
                    .container-body
                        nav.menu-vertical
                            ul.menu-body
                                each link in navLinks
                                    li.menu-body-part.btn-main(class=(section == link.key ? 'active' : null))
                                        a.btn-title(target=link.target href=link.href)= link.label
                                            |  >
                        nav.menu-vertical
                            .menu-header
                                .menu-title
                                    h6 coming soon
                            ul.menu-body
                                li.menu-body-part.btn-main
                                    a.btn-title my blog
                                li.menu-body-part.btn-main
                                    a.btn-title my shop
            .app-body
                block appBody
        // script(src='/js/jacobsfletch.min.js')
        script.
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-72591985-3', 'auto');
            ga('send', 'pageview');

            scrollAnimate = function(screenElement, startElement, checkboxElement) {
                // Query Elements
                var screenEl = document.getElementById(screenElement);
                var panelBody = document.getElementById('panelBody');
                var startEl = document.getElementById(startElement);
                var scrollerContainer = document.getElementsByClassName('container-scroller')[0];
                var utilityScroller = scrollerContainer.getElementsByClassName('utility-scroller')[0];                
                var scrollerTitle = scrollerContainer.getElementsByClassName('utility-title')[0];
                var checkbox = document.getElementById(checkboxElement);
                // Initiate Constants
                var offsetHeight = startEl.offsetHeight;
                var paddingBottom = parseInt(window.getComputedStyle(startEl, null).getPropertyValue('padding-bottom'), 10);
                var height = offsetHeight - paddingBottom;
                // Calculate Circumference
                var path = scrollerContainer.getElementsByTagName('path')[0];
                var originalWidth = parseInt(utilityScroller.getElementsByTagName('svg')[0].getAttribute('width'), 10);
                var transformedWidth = parseInt(getComputedStyle(utilityScroller).getPropertyValue('width'), 10);
                var differenceRatio = transformedWidth / originalWidth;
                var circumference = path.getTotalLength() * differenceRatio;
                // Initiate variables
                var currentPercentage = 0;
                var displacement = 0;
                var threshold = 150;
                var currentRatio = 0;
                var scrollTop = 0;

                window.addEventListener('resize', updateVariables, false);
                screenEl.addEventListener('touchend', endHandler, false);
                screenEl.addEventListener('touchcancel', endHandler, false);
                screenEl.addEventListener('scroll', scrollHandler, false);


                function updateVariables() {
                    offsetHeight = startEl.offsetHeight;
                    paddingBottom = parseInt(window.getComputedStyle(startEl, null).getPropertyValue('padding-bottom'), 10);
                }

                function resetStyles() {
                    screenEl.scrollTop = 0;
                    startEl.removeAttribute('style');
                    scrollerContainer.removeAttribute('style'); // Remove panelLoader Styles
                }

                function initSpinner(currentRatio, scrollTop) {
                    //window.requestAnimationFrame(function() {
                        scrollerContainer.style.display = 'flex';
                        scrollerContainer.style.height = offsetHeight - scrollTop + 'px';
                        scrollerContainer.style.transform = 'translateY(' + scrollTop + 'px)';
                        path.style.strokeDasharray = circumference; // Style dash-array
                        path.style.strokeDashoffset = circumference * (1 - -currentRatio); // Style dash-offset
                        if (currentRatio > 0) {
                            currentPercentage = Math.ceil(currentRatio * 100); // Calculate Ratio Difference
                            scrollerTitle.innerHTML = "<p>" + currentPercentage + "%</p>"; // Start Percentage Count
                        }
                    //});
                }

                function scrollHandler() {
                    //setTimeout(endHandler, 3000);
                    if (!checkbox.checked) {
                    scrollTop = screenEl.scrollTop;
                        if (scrollTop >= threshold) {
                            panelBody.style.overflowY = 'scroll';
                            checkbox.checked = 'true';
                            resetStyles();
                        } else if (scrollTop < 1) {
                            resetStyles();
                        } else {
                            startEl.style.visibility = 'hidden';
                            currentRatio = scrollTop / threshold;
                            initSpinner(currentRatio, scrollTop);
                        }
                    } else {
                        resetStyles();
                    }
                }

                function endHandler() {
                    if (scrollTop <= threshold) {
                        screenEl.scrollTop = 0;
                    } else {
                        resetStyles();
                    }
                }
            }

            ////////////////////////////////////////////////////////////////////////////

            // mediaToggler

            ////////////////////////////////////////////////////////////////////////////

            mediaToggler = function() {
                // Init variables
                var array = [];
                // Init Element Queries
                var wallBodyPart = document.querySelectorAll('.wall-body-part');
                var toolExpand = document.querySelectorAll('.tool-expand');
                var toolShrink = document.querySelectorAll('.tool-shrink');

                shrinkMedia = function(i, array) { // Shrink the media
                    for (var j = 0; j <= array.length; j++) { // Loop through the spliced array
                        if (wallBodyPart[j] !== wallBodyPart[i]) { // Select all in array except [i]
                            wallBodyPart[j].removeAttribute('style'); // Remove styles from all except [i]
                        }
                    }
                    wallBodyPart[i].removeAttribute('style'); // Remove styles from wallBodyPart
                    toolExpand[i].removeAttribute('style'); // Remove styles from toolExpand
                    toolShrink[i].removeAttribute('style'); // Remove styles from toolShrink
                    array.splice(i, 0, i); // Splice i back into the array
                    responsiveImages();
                }

                expandMedia = function(i, array) { // Expand the media
                    array.splice(i, 1); // Splice i from the array
                    for (var j = 0; j <= array.length; j++) { // Loop through the spliced array
                        if (wallBodyPart[j] !== wallBodyPart[i]) { // Select all in array except [i]
                            wallBodyPart[j].style.display = 'none'; // Hide all except [i]
                        }
                    }
                    wallBodyPart[i].style.width = '100%'; // Full width [i]
                    wallBodyPart[i].style.marginRight = '0'; // Remove margins from [i]
                    wallBodyPart[i].style.marginLeft = '0'; // Remove margins from [i]
                    toolExpand[i].style.display = 'none'; // Hide toolExpand
                    toolShrink[i].style.display = 'block'; // Make visible toolShrink
                    responsiveImages();
                }

                for (var i = 0; i < toolExpand.length; i++) { // Loop all toolExpand elements
                    array.push(i); // Create numbered array of total toolExpand elements
                    toolExpand[i].addEventListener('click', expandMedia.bind(this, i, array)); // Add click event to toolExpand and bind index
                    toolShrink[i].addEventListener('click', shrinkMedia.bind(this, i, array)); // Add click event to toolShrink and bind index
                }

            }

            ////////////////////////////////////////////////////////////////////////////

            // responsiveImages

            ////////////////////////////////////////////////////////////////////////////

            responsiveImages = function(cardName) { 
                var dppi = window.devicePixelRatio; 
                // Query Every Card and Image into Respective Arrays
                var cards = document.getElementsByClassName(cardName);

                var status = 'all';    
                var currentImg = null;

                // Initiate Global Reference Variables via the First element
                // Calculate for Circumference
                var loaders = document.getElementsByClassName('utility-loader');
                var firstLoader = loaders[0];
                var originalWidth = parseInt(firstLoader.getElementsByTagName('svg')[0].getAttribute('width'), 10);
                var computedWidth = parseInt(getComputedStyle(firstLoader).getPropertyValue('width'), 10);
                var differenceRatio = computedWidth / originalWidth;
                var circumference = firstLoader.getElementsByTagName('path')[0].getTotalLength() * differenceRatio;
                // Initiate Variables
                var strokeDasharray = parseInt(getComputedStyle(firstLoader).getPropertyValue("stroke-dasharray"), 10); // Parse Two Decimals In, Double to Accomodate Both Sides of Circle
                var difference = circumference - strokeDasharray;
                var ticker = circumference;

                repeatLoader = function() {
                    ticker = ticker + circumference;
                    startLoader(repeatLoader);
                }

                startLoader = function(callback) {
                    for (i = 0; i < loaders.length; i++) {
                        loader = loaders[i];
                        loader.style.strokeDasharray = strokeDasharray + ',' + difference;
                        loader.style.strokeDashoffset = ticker;
                    }
                    firstLoader.addEventListener('transitionend', callback);
                }

                loadImage = function(cardImg, callback) {
                    imgWidth = Math.ceil(parseInt(getComputedStyle(cardImg, null).getPropertyValue('width'), 10));
                    newWidth = imgWidth * dppi;
                    if (cardImg.dataset.src) {
                        imgSrc = cardImg.dataset.src;
                        srcParse = imgSrc.split('upload/');
                        for (var j = 0; j < srcParse.length; j++) {
                            srcFirst = srcParse[0];
                            srcLast = srcParse[1];
                            newSrc = srcFirst + 'upload/w_' + newWidth + '/' + srcLast;
                            cardImg.src = newSrc;
                        }
                    }
                }

                hoverReplicate = function() {
                    for (var i = 0; i < cards.length; i++) {
                        card = cards[i];
                        if(card.classList.contains('hover')) {
                            card.classList.toggle('hover');
                        }
                    }
                    this.classList.toggle('hover');
                }

                queryMedia = function(cardImg) {
                    if (status === 'all') {
                        for (var i = 0; i < cards.length; i++) {
                            var card = cards[i];
                            var cardImg = card.querySelector('img');
                            loadImage(cardImg);
                        }
                    } else if (status === 'single') {
                        loadImage(cardImg);
                    }
                }

                toggleMedia = function(card, cardImg, cardParent, otherCards, tool) {
                    for (var i = 0; i < otherCards.length; i++) {
                        otherCards[i].parentNode.classList.toggle('is-inactive');
                    }
                    cardParent.classList.toggle('is-active');
                    card.classList.toggle('is-active');
                    tool.classList.toggle('is-inactive');
                    if (status === 'all') {
                        status = 'single';
                        currentImg = cardImg;
                    } else if (status === 'single') {
                        status = 'all';
                        currentImg = null;
                    }
                    //cardImg.classList.add('is-inactive');
                    queryMedia(cardImg);
                }

                for (var i = 0; i < cards.length; i++) {
                    (function() {
                        var card = cards[i];
                        var otherCards = [];
                        for (var j = 0; j < cards.length; j++) {
                            if (!cards[j].isSameNode(card)) {
                                otherCards.push(cards[j]);
                            }
                        }
                        var cardImg = card.querySelector('img');
                        var cardParent = card.parentNode;
                        var toolExpand = card.querySelector('.tool-expand');
                        var toolShrink = card.querySelector('.tool-shrink');
                        var tools = [];
                        if (toolExpand && toolShrink) {
                            tools.push(toolExpand, toolShrink);
                        }
                        card.addEventListener('touchstart', hoverReplicate);
                        cardImg.addEventListener('load', function() {
                            cardImg.classList.remove('is-inactive');
                        });
                        if (tools) {
                            for(var t = 0; t < tools.length; t++) {
                                var tool = tools[t];
                                tool.addEventListener('click', function() {
                                    var tool = this;
                                    toggleMedia(card, cardImg, cardParent, otherCards, tool);
                                });
                            }
                        }
                    })();
                }

                window.addEventListener('resize', function() {
                    queryMedia(currentImg);
                });

                startLoader(repeatLoader);
                queryMedia(status);
            }

        block js
