extends ../layouts/default

block appBody
    .screen-about
        .start.board-about
            .board-header
                .board-subtitle
                    h1
                        if resume.intro.a
                            | #{resume.intro.a}
                        else
                            | no intro a
                .board-title
                    h2
                        if resume.intro.b
                            | #{resume.intro.b}
                        else
                            | no intro b
            .board-body
                .board-body-part
                    h3
                        if resume.specialization
                            | #{resume.specialization}
                        else
                            | no specialization
                .board-body-part
                    blockquote.blockquote
                        header
                            p
                                if resume.quote
                                    | #{resume.quote}
                                else
                                    | no quote
                        footer
                            p i said that
        .explore.panel-explore
            .panel-header
                .bar-explore
                    .bar-title
                        p resume&nbsp;
                            span
                    .bar-subtitle
                        p scroll&nbsp;
                            span up
            .panel-body
                .container-document
                    .container-body-part
                        h3 personals
                        if resume.personals
                            | !{resume.personals}
                        else
                            p no personals
                    .container-body-part
                        h3 experience
                        if resume.experience
                            | !{resume.experience}
                        else
                            p no experience
                    .container-body-part
                        h3 education
                        if resume.education
                            | !{resume.education}
                        else
                            p no education
                    .container-body-part
                        h3 technicals
                        if resume.technicals
                            | !{resume.technicals}
                        else
                            p no technicals
block js
    script.
        scrollAnimate('.screen-about');
