extends ../layouts/default

include ../mixins/media/circle

block appBody
    .screen-about
        .start.board-project
            .board-header
                .board-subtitle
                    h1
                        if resume.intro.a
                            | #{resume.intro.a}
                        else
                            | no intro a
                .board-title
                    h2
                        if resume.intro.b
                            | #{resume.intro.b}
                        else
                            | no intro b
            .board-body
                .board-body-part
                    h3
                        if resume.specialization
                            | #{resume.specialization}
                        else
                            | no specialization
                .board-body-part
                    blockquote
                        header
                            p
                                if resume.quote
                                    | #{resume.quote}
                                else
                                    | no quote
                        footer
                            p i said that
        .container-scroller
            .utility-scroller
                +circle()
                +circle()
        .explore.panel-gallery
            .panel-header
                label(for="explore")
                    .bar-explore
                        .bar-title
                            p my resume
                        .bar-subtitle
                            p &nbsp;
            .panel-body
                .container-document
                    .container-body-part
                        h3 philosophy
                        if resume.philosophy
                            | !{resume.philosophy}
                        else
                            | no philosophy
                    .container-body-part
                        h3 technical skills
                        if resume.skills
                            | !{resume.skills}
                        else
                            | no development skills
                    .container-body-part
                        h3 experience
                        if resume.experience
                            | !{resume.experience}
                        else
                            | no experience
                    .container-body-part
                        h3 education
                        if resume.education
                            | !{resume.education}
                        else
                            | no education
                    .container-body-part
                        h3 personals
                        if resume.personal
                            | !{resume.personal}
                        else
                            p no personals
block js
    script.
        scrollAnimate('.screen-about', 'explore');
