extends ../layouts/default

include ../mixins/media/downarrow

block appBody
    .board-bio
        .board-body
            .board-header
                .board-subtitle
                    h1 #{user.tagline.a}
                .board-title
                    h2 #{user.tagline.b}
            .board-body-part
                h3 #{user.specialization}
            .board-body-part
                h3 #{user.quote}
            .panel-explore
                label.board-footer(for="explore")
                    .tool-scroll
                        .tool-media
                            +downArrow()
                .board-content
                    .collection-main
                        h3 philosophy
                        div !{user.philosophy}
                    .collection-main
                        h3 education
                        div !{user.education}
                    .collection-main
                        h3 experience
                        p !{user.experience}
                    .collection-main
                        h3 design skills
                        p !{user.skills.design}
                    .collection-main
                        h3 development skills
                        p !{user.skills.development}
                    .collection-main
                        h3 more about me
                        p !{user.more}
