extends ../layouts/default

include ../mixins/media/downarrow

block appBody
    .board-bio
        .board-body
            .board-header
                .board-subtitle
                    h1 #{resume.intro.a}
                .board-title
                    h2 #{resume.intro.b}
            .board-body-part
                h3 #{resume.specialization}
            .board-body-part
                h3 #{resume.quote}
            .panel-explore
                label.board-footer(for="explore")
                    .tool-scroll
                        .tool-media
                            +downArrow()
                .board-content
                    .collection-main
                        h3 philosophy
                        div !{resume.philosophy}
                    .collection-main
                        h3 education
                        div !{resume.education}
                    .collection-main
                        h3 experience
                        p !{resume.experience}
                    .collection-main
                        h3 design skills
                        p !{resume.skills.design}
                    .collection-main
                        h3 development skills
                        p !{resume.skills.development}
                    .collection-main
                        h3 more about me
                        p !{resume.personal}
