extends ../layouts/default

include ../mixins/media/chevron
include ../mixins/media/circle

block appBody
    .screen-portfolio
        .panel-portfolio
            .widget-filter
                .widget-body
                    .widget-body-part
                        .widget-subtitle
                            h3 select all that apply
                    .widget-body-part
                        form#categories.form-filters
                            each category in categories
                                .checkbox-main
                                    input(id="category-" + category.key name="category-" + category.key type='checkbox' checked)
                                    label.checkbox-label(for="category-" + category.key)
                                        .checkbox-input
                                            .wrapper
                                        .checkbox-title
                                            p #{category.key}
                label.widget-header(for="filter")
                    .bar-navigate
                        .bar-title
                            p my portfolio
                        .bar-subtitle
                            p filter
            .panel-body
                .wall-cards
                    .wall-body
                        if projects
                            each project in projects
                                .wall-body-part
                                    a(href='/portfolio/' + project.slug)
                                        .card-portfolio
                                            .card-media
                                                img(data-src=project.featuredImage alt='portfolio image')
                                                .utility-loader
                                                    +circle()
                                            header.card-header
                                                .card-subtitle
                                                    h2
                                                        if project.categories.length > 0
                                                            each category, index in project.categories
                                                                | #{category.key}
                                                                if (index + 1) < project.categories.length
                                                                    | , #{' '}
                                                .card-title
                                                    .btn-main
                                                        .btn-title
                                                            p #{project.title}&nbsp;>
                        else
                            p no projects

block js
    script.
        responsiveImages('card-portfolio');
        
        var panelBody = document.querySelector('.panel-body');
        
        panelBody.addEventListener('touchstart', function(event) {
            touchStartHandler(event);
        });
        
        panelBody.addEventListener('touchmove', function(event) {
            scrollHandler(event);
            scrollEnabler(event, this);
        });
        
        panelBody.addEventListener('wheel', function(event) {
            scrollHandler(event);
            scrollEnabler(event, this);
        });
