extends ../layouts/default

include ../mixins/media/downarrow

block appBody
    .screen-post
        .board-gallery
            .board-header
                .board-meta
                    h2
                        if post.categories.length > 0
                            each category, index in post.categories
                                | #{category.key}
                                if (index + 1) < post.categories.length
                                    | , #{' '}
                        else
                            | no categories
                    h2
                        if post.tags.length > 0
                            each tag, index in post.tags
                                | #{tag.key}
                                if (index + 1) < post.tags.length
                                    | , #{' '}
                        else
                            | no tags
                .board-title
                    h1 #{post.title}
                .board-subtitle
                    h3 published on #{post._.publishedDate.format()}
                    h3
                        if post.content.excerpt
                            | #{post.content.excerpt}
                        else
                            | no excerpt
            .board-body
                .board-body-part
                    blockquote.type-blockquote
                        header
                            p
                                if post.quote
                                    | #{post.quote}
                                else
                                    | no quote
                        footer
                            p
                                if post.quoteAuthor
                                    | #{post.quoteAuthor}
                                else
                                    | no quote author
                .board-body-part
                    if post.hashtags.length > 0
                        each hashtag in post.hashtags
                            h2
                                | ##{hashtag.key}
                        h2 [...]
                    else
                        p no hashtags
            .panel-explore
                label.panel-header(for="explore")
                    .tool-scroll
                        .tool-media
                            +downArrow()
                .panel-body
                    .panel-body-part
                        if post.featuredImage.length > 0
                            img.square(style="background-image: url('" + post.featuredImage.url + "')")
                        else
                            p.type-p no featured image
                    .panel-body-part
                        .collection-main
                            h3 #{post.title}
                            p
                                if post.content.full
                                    | !{post.content.full}
                                else
                                    | no content
