extends ../layouts/default

include ../mixins/media/downarrow

block appBody
    .board-post
        .board-body
            .board-header
                .board-meta
                    h2
                        each category, index in post.categories
                            | #{category.key}
                            if (index + 1) < post.categories.length
                                | , #{' '}
                    h2
                        each tag, index in post.tags
                            | #{tag.key}
                            if (index + 1) < post.tags.length
                                | , #{' '}
                .board-title
                    h1 #{post.title}
                .board-subtitle
                    h3 published on #{post._.publishedDate.format()}
                    h3 #{post.content.excerpt}
            .board-body-part
                blockquote.type-blockquote
                    header
                        p #{post.quote}
                    footer
                        p #{post.quoteAuthor}
            .board-body-part
                h2 hashtags
                each hashtag, index in post.hashtags
                    h2
                        | ##{hashtag.key}
                h2 [...]
            .panel-explore
                .board-footer
                    label.tool-scroll(for="explore")
                        .tool-media
                            +downArrow()
                .board-content
                    .wall-body-part
                        img.square(style="background-image: url('" + post.featuredImage.url + "')")
                    .collection-main
                        h3 #{post.title}
                        p !{post.content.full}
