extends ../layouts/default

include ../mixins/media/downarrow

block appBody
    .app-body-part.start
        .board-product
            .board-header
                .board-categories
                    h2
                        if product.categories.length > 0
                            each category, index in product.categories
                                | #{category.key}
                                if (index + 1) < product.categories.length
                                    | , #{' '}
                .board-tags
                    h2
                        if product.tags.length > 0
                            each tag, index in product.tags
                                | #{tag.key}
                                if (index + 1) < product.tags.length
                                    | , #{' '}
                .board-title
                    h1 #{product.title}
            .board-body
                .board-body-part
                    h3 #{product.content.excerpt}
                .board-body-part
                    p $#{product.price}
                    p #{product.sku}
                    p #{product.stock}
                    p #{product.backlink.posts}
                    p #{product.backlink.projects}
                .board-body-part
                    p #{product.content.full}
                .board-body-part
                    h2 hashtags
                    each hashtag, index in product.hashtags
                        h2
                            | ##{hashtag.key}
                    h2 [...]
            .board-footer
                a.tool-scroll(href='#product')
                    .tool-media
                        +downArrow()
    #product.app-body-part.explore
        .wall-post
            .wall-header
                .wall-title
                    h3 item gallery
            .wall-body
                each image, index in product.images
                    .wall-body-part
                        .multimedia-lightbox
                            a.multimedia-media.square(style="background-image: url('" + image.url + "')")
                                p view image
