extends ../layouts/default

include ../mixins/media/downarrow

block appBody
    .board-gallery
        .board-body
            .board-header
                .board-meta
                    h2
                        each category, index in project.categories
                            | #{category.key}
                            if (index + 1) < project.categories.length
                                | , #{' '}
                    h2
                        each tag, index in project.tags
                            | #{tag.key}
                            if (index + 1) < project.tags.length
                                | , #{' '}
                .board-title
                    h1 #{project.title}
            .board-body-part
                h3 #{project.content}
            .board-body-part
                blockquote.type-blockquote
                    header
                        p #{project.quote}
                    footer
                        p #{project.quoteAuthor}
            .panel-explore
                .board-footer
                    label.tool-scroll(for="explore")
                        .tool-media
                            +downArrow()
                .board-media
                    each image, index in project.images
                        .image-square
                            img(src=image.url)
