extends ../layouts/default

include ../mixins/media/expand
include ../mixins/media/shrink
include ../mixins/media/loader

block appBody
    .screen-project
        #galleryStart.board-project
            .bar-navigate
                .bar-title.btn-nav
                    a.btn-title(href='/api/portfolio/' + project.slug + '/previous')
                        p < prev
                .bar-subtitle.btn-nav 
                    a.btn-title(href='/api/portfolio/' + project.slug + '/next')
                        p next >
            .board-header
                .board-subtitle
                    h2
                        if project.categories.length > 0
                            each category, index in project.categories
                                | #{category.key}
                                if (index + 1) < project.categories.length
                                    | , #{' '}
                        else
                            | no categories
                    h2
                        if project.tags.length > 0
                            each tag, index in project.tags
                                | #{tag.key}
                                if (index + 1) < project.tags.length
                                    | , #{' '}
                        else
                            | no tags
                .board-title
                    h1 #{project.title}
            .board-body
                .board-body-part
                    h3
                        if project.content
                            | #{project.content}
                        else
                            | no content
                .board-body-part
                    blockquote
                        header
                            p
                                if project.quote
                                    | #{project.quote}
                                else
                                    | no quote
                        footer
                            p
                                if project.quoteAuthor
                                    | #{project.quoteAuthor}
                                else
                                    | no quote author
        #loaderContainer.container-loader
            #panelLoader.utility-loader
                +loader()
        #panelExplore.panel-gallery
            .panel-header
                label(for="explore").panel-header
                    .bar-navigate
                        .bar-title
                            p project gallery
                        .bar-subtitle
                            p &nbsp;
            #panelBody.panel-body
                .wall-cards
                    .wall-body
                        if project.images.length || project.videos.length
                            if project.videos.length
                                each video in project.videos
                                    .wall-body-part
                                        .video-square
                                            video(src=video autoplay loop muted)
                                            .tool-expand
                                                +expand()
                                            .tool-shrink
                                                +shrink()
                            if project.images.length
                                each image in project.images
                                    .wall-body-part
                                        .image-square
                                            img(src=image.url)
                                            .tool-expand
                                                .tool-media
                                                    +expand()
                                            .tool-shrink
                                                .tool-media
                                                    +shrink()
                        else
                            .wall-body-part
                                p.type-p no media
block js
    script.
        scrollAnimate("panelExplore", "galleryStart", "explore");

        var wallBodyPart = document.querySelectorAll('.wall-body-part');
        var toolExpand = document.querySelectorAll('.tool-expand');
        var toolShrink = document.querySelectorAll('.tool-shrink');
        var array = [];

        shrinkMedia = function(i, array) {
            for (var j = 0; j <= array.length; j++) {
                if (wallBodyPart[j] !== wallBodyPart[i]) {
                    wallBodyPart[j].style.display = '';
                }
            }
            wallBodyPart[i].style.width = '';
            wallBodyPart[i].style.marginRight = '';
            toolExpand[i].style.display = '';
            toolShrink[i].style.display = '';
            array.splice(i, 0, i);
            console.log(array);
        }

        expandMedia = function(i, array) {
            array.splice(i, 1);
            console.log(array);
            for (var j = 0; j <= array.length; j++) {
                if (wallBodyPart[j] !== wallBodyPart[i]) {
                    wallBodyPart[j].style.display = 'none';
                }
            }
            wallBodyPart[i].style.width = '100%';
            wallBodyPart[i].style.marginRight = '0';
            toolExpand[i].style.display = 'none';
            toolShrink[i].style.display = 'block';
            toolShrink[i].addEventListener('click', shrinkMedia.bind(this, i, array));
        }

        for (var i = 0; i < toolExpand.length; i++) {
            array.push(i);
            toolExpand[i].addEventListener('click', expandMedia.bind(this, i, array));
        }
