extends ../layouts/default

include ../mixins/media/expand
include ../mixins/media/shrink
include ../mixins/media/chevron

block appBody
    .screen-project
        .start.board-project
            .bar-navigate
                .bar-title.btn-nav
                    a.btn-title(href='/api/portfolio/' + project.slug + '/previous')
                        p < prev
                .bar-subtitle.btn-nav 
                    a.btn-title(href='/api/portfolio/' + project.slug + '/next')
                        p next >
            .board-header
                .board-subtitle
                    h2
                        if project.categories.length > 0
                            each category, index in project.categories
                                | #{category.key}
                                if (index + 1) < project.categories.length
                                    | , #{' '}
                        else
                            | no categories
                    h2
                        if project.tags.length > 0
                            each tag, index in project.tags
                                | #{tag.key}
                                if (index + 1) < project.tags.length
                                    | , #{' '}
                        else
                            | no tags
                .board-title
                    h1 #{project.title}
            .board-body
                .board-body-part
                    h3
                        if project.content
                            | #{project.content}
                        else
                            | no content
                .board-body-part
                    blockquote.blockquote
                        header
                            p
                                if project.quote
                                    | #{project.quote}
                                else
                                    | no quote
                        footer
                            p
                                if project.quoteAuthor
                                    | #{project.quoteAuthor}
                                else
                                    | no quote author
        .explore.panel-explore
            .panel-header
                .bar-explore
                    .bar-title
                        p project&nbsp;
                            span gallery
                    .bar-subtitle
                        p scroll&nbsp;
                            span up
            .panel-body
                .wall-cards
                    .wall-body
                        if project.images.length
                            each image in project.images
                                .wall-body-part
                                    .card-project
                                        .card-media
                                            .utility-loader
                                            img(data-src=image alt='project image')
                                        .tool-expand.hidden
                                            .tool-media
                                                +expand()
                                        .tool-shrink.hidden
                                            .tool-media
                                                +shrink()
                        else
                            .wall-body-part
                                p.type-p no media
block js
    script.
        scrollAnimate('.screen-project');
        responsiveImages('card-project');
