mixin cardProject(project)
    a(href='/projects/' + project.slug)
        .card-project
            .card-media.square(style="background-image: url('" + project.featuredImage.url + "')")
            header.card-header
                .card-subtitle
                    h2
                        each category, index in project.categories
                            | #{category.key}
                            if (index + 1) < project.categories.length
                                | , #{' '}
                .card-title
                    .btn-main
                        h3.btn-title #{project.title}

mixin cardPost(post)
    .card-post
        a.card-media.square(href='/posts/' + post.slug, style="background-image: url('" + post.featuredImage.url + "')")
            h3 view post
        header.card-header
            .card-subtitle
                h2
                    each category, index in post.categories
                        | #{category.key}
                        if (index + 1) < post.categories.length
                            | , #{' '}
            .card-title
                a.btn-main(href='/posts/' + post.slug)
                    h3.btn-title #{post.title}

mixin cardProduct(product)
    .card-product
        a.card-media.square(href='/shop/' + product.slug, style="background-image: url('" + product.featuredImage.url + "')")
            h3 view item
        header.card-header
            .card-subtitle
                h2
                    each category, index in product.categories
                        | #{category.key}
                        if (index + 1) < product.categories.length
                            | , #{' '}
            .card-title
                a.btn-main(href='/shop/' + product.slug)
                    h3.btn-title #{product.title}
