mixin cardProject(project)
    a(href='/portfolio/' + project.slug)
        .card-project
            .card-media.square(style="background-image: url('" + project.featuredImage.url + "')")
            header.card-header
                .card-subtitle
                    h2
                        if project.categories.length > 0
                            each category, index in project.categories
                                | #{category.key}
                                if (index + 1) < project.categories.length
                                    | , #{' '}
                .card-title
                    .btn-main
                        h3.btn-title #{project.title}

mixin cardPost(post)
    a(href='/blog/' + post.slug)
        .card-post
            header.card-header
                .card-subtitle
                    h2
                        if post.categories.length > 0
                            each category, index in post.categories
                                | #{category.key}
                                if (index + 1) < post.categories.length
                                    | , #{' '}
                .card-title
                    .btn-main
                        h3.btn-title #{post.title}
            .card-body
                p #{post.content.excerpt}

mixin cardProduct(product)
    a(href='/shop/' + product.slug)
        .card-product
            .card-media.square(style="background-image: url('" + product.featuredImage.url + "')")
            header.card-header
                .card-subtitle
                    h2
                        if product.categories.length > 0
                            each category, index in product.categories
                                | #{category.key}
                                if (index + 1) < product.categories.length
                                    | , #{' '}
                .card-title
                    .btn-main
                        h3.btn-title #{product.title}
